{{ if .Site.Params.hero.enable }}
    <!-- begin hero -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="hero__inner">
                        <div class="hero__left">
                            <div class="hero__image">
                                {{ partial "image.html" (dict
                                    "image" .Site.Params.hero.hero__image
                                    "alt" (printf "%s's Picture" .Site.Params.author.author__name)
                                    "loading" "eager"
                                    "fetchpriority" "high"
                                    "sizes" (partial "functions/hero-sizes.html" .))
                                }}
                            </div>
                        </div>
                        <div class="hero__right">
                            <h1 class="hero__title">{{ i18n "sections_hero_title" | safeHTML }} <br />{{ i18n "sections_hero_subtitle" | safeHTML }}</h1>
                            <p class="hero__description">{{ i18n "sections_hero_description" | safeHTML }}</p>
                            <div class="hero__subscribe">
                                {{ $email := .Site.Params.contact.contact__email }}
                                {{ $emailParts := split $email "@" }}
                                <a href="#" class="button button--primary js-mailto" data-user="{{ index $emailParts 0 }}" data-domain="{{ index $emailParts 1 }}">{{ i18n "sections_hero_button" | safeHTML }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end hero -->
{{ end }}
