{{ if .Site.Params.projects.enable }}
    <!-- begin projects -->
    <section class="section projects animate">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="contaniner__inner animate">
                        <div class="section__info" data-reveal>
                            <p class="label-numbered">{{ i18n "sections_projects_eyebrow" | safeHTML }}</p>
                            <h2 class="section__title">{{ i18n "sections_projects_title" | safeHTML }}</h2>
                            {{ if .Site.Params.projects.projects__description }}
                            <p class="section__description">{{ i18n "sections_projects_description" | safeHTML }}</p>
                            {{ end }}
                        </div>

                        <div class="row">
                            {{ range (where .Site.RegularPages "Section" "projects" | first 6 ) }}
                                {{ partial "project-card.html" . }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section__navigation">
            <a href="{{ relLangURL "/projects/" }}" class="button button--primary section-button">{{ i18n "sections_projects_allProjects" | safeHTML }}</a>
        </div>
    </section>
    <!-- end projects -->
{{ end }}
