{{ if .Site.Params.technologies.enable }}
    <!-- begin technologies -->
    <section class="section technologies">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="section__info" data-reveal>
                        <h2 class="section__small__title">{{ .Site.Params.technologies.title | safeHTML }}</h2>
                    </div>

                    <div class="technologies-marquee">
                        <ul class="technologies-marquee__track list-reset">
                            {{ range .Site.Params.technologies.items }}
                                <li class="technologies-marquee__item">
                                    {{- if .svg -}}
                                        {{ .svg | safeHTML }}
                                    {{- else if .icon -}}
                                        <i class="{{ .icon }}"></i>
                                    {{- end -}}
                                    <span class="technologies-marquee__label">{{ .name }}</span>
                                </li>
                            {{ end }}
                            {{ range .Site.Params.technologies.items }}
                                <li class="technologies-marquee__item" aria-hidden="true">
                                    {{- if .svg -}}
                                        {{ .svg | safeHTML }}
                                    {{- else if .icon -}}
                                        <i class="{{ .icon }}"></i>
                                    {{- end -}}
                                    <span class="technologies-marquee__label">{{ .name }}</span>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end technologies -->
{{ end }}
