{{ if .Site.Params.technologies.enable }}
    <!-- begin technologies -->
    <section class="section technologies">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="section__info" data-reveal>
                        <h2 class="section__small__title">{{ .Site.Params.technologies.title | safeHTML }}</h2>
                    </div>

                    <div class="technologies-marquee">
                        <ul class="technologies-marquee__track list-reset">
                            {{ range .Site.Params.technologies.items }}
                                <li class="technologies-marquee__item">
                                    {{- if .svg -}}
                                        {{ .svg | safeHTML }}
                                    {{- else if .icon -}}
                                        <i class="{{ .icon }}"></i>
                                    {{- end -}}
                                    <span class="technologies-marquee__label">{{ .name }}</span>
                                </li>
                            {{ end }}
                            {{ range .Site.Params.technologies.items }}
                                <li class="technologies-marquee__item" aria-hidden="true">
                                    {{- if .svg -}}
                                        {{/* Duplicated for the seamless marquee loop, so any id="" (used
                                             by icon gradients, e.g. Python) must be renamed here to avoid
                                             colliding with the primary copy's ids. Internal url(#id)
                                             references get the same suffix so they still resolve. */}}
                                        {{ $svg := replaceRE `id="([a-zA-Z0-9_-]+)"` `id="${1}-dup"` .svg }}
                                        {{ $svg = replaceRE `url\(#([a-zA-Z0-9_-]+)\)` `url(#${1}-dup)` $svg }}
                                        {{ $svg | safeHTML }}
                                    {{- else if .icon -}}
                                        <i class="{{ .icon }}"></i>
                                    {{- end -}}
                                    <span class="technologies-marquee__label">{{ .name }}</span>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end technologies -->
{{ end }}
