{{/* themes/hilton/layouts/shortcodes/gallery.html */}}
{{ $images := split (.Get "images") "," }}
{{ $captions := split (.Get "captions") "|" }}
{{ $caption := .Get "caption" }}

<div class="gallery-box">
  <div class="gallery">
    {{ range $i, $img := $images }}
      {{ $img = trim $img " " }}
      {{ if not (hasPrefix $img "/") }}
        {{ $img = printf "/%s" $img }}
      {{ end }}
      <img src="{{ $img | relURL }}" alt="{{ index $captions $i | default "" }}" loading="lazy">
    {{ end }}
  </div>
  {{ if $caption }}
    <em>{{ $caption }}</em>
  {{ end }}
</div>
