{{/* themes/hilton/layouts/shortcodes/gallery.html */}}
{{ $images := split (.Get "images") "," }}
{{ $captions := split (.Get "captions") "|" }}
{{ $caption := .Get "caption" }}

<div class="gallery-box">
  <div class="gallery">
    {{ range $i, $img := $images }}
      {{ $img = trim $img " " }}
      {{ $imgSrc := "" }}
      {{ if hasPrefix $img "/" }}
        <!-- Absolute path - use as is -->
        {{ $imgSrc = $img }}
      {{ else }}
        <!-- Relative path - try to find as page resource first -->
        {{ $resource := $.Page.Resources.GetMatch $img }}
        {{ if $resource }}
          {{ $imgSrc = $resource.RelPermalink }}
        {{ else }}
          <!-- Fallback to relative URL -->
          {{ $imgSrc = printf "/%s" $img | relURL }}
        {{ end }}
      {{ end }}
      <img src="{{ $imgSrc }}" alt="{{ index $captions $i | default "" }}" loading="lazy">
    {{ end }}
  </div>
  {{ if $caption }}
    <em>{{ $caption }}</em>
  {{ end }}
</div>
