{{ $logoURL := .Site.Params.logo | absURL }}
{{ with resources.Get (strings.TrimPrefix "/" .Site.Params.logo) }}{{ $logoURL = .Permalink }}{{ end }}

{{ $imageURL := $logoURL }}
{{ with .Resources.GetMatch .Params.image }}{{ $imageURL = .Permalink }}{{ end }}

{{ $type := "CreativeWork" }}
{{ with .Params.schemaType }}{{ $type = . }}{{ end }}

{{ $schema := dict
  "@context" "https://schema.org"
  "@type" $type
  "name" .Title
  "description" .Description
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "url" .Permalink
  "image" $imageURL
  "inLanguage" .Site.Language.Locale
  "author" (dict "@type" "Person" "name" .Site.Params.author.author__name "url" (printf "%sabout/" .Site.BaseURL))
}}
{{ if eq $type "SoftwareApplication" }}
  {{ $schema = merge $schema (dict "applicationCategory" "DeveloperApplication" "screenshot" $imageURL) }}
{{ end }}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
