{{ $ns := "functions" }}
{{ $partial := "localize-date.html" }}

{{ $pre := printf "[partial: %s/%s]" $ns $partial }}

{{ $msg1 := printf "%s Invalid date." $pre }}
{{ $msg2 := printf "%s Missing date." $pre }}
{{ $msg3 := printf "%s Invalid format." $pre }}
{{ $msg4 := printf "%s Missing format." $pre }}

{{ $date := "" }}
{{ with .date }}
    {{ if eq (printf "%T" .) "time.Time" }}
        {{ $date = . }}
    {{ else }}
        {{ errorf $msg1 }}
    {{ end }}
{{ else }}
    {{ errorf $msg2 }}
{{ end }}

{{ $format := default "January 2, 2006" .format }}

{{ $monthFormat := "" }}
{{ if in $format "January" }}
    {{ $monthFormat = "long" }}
{{ else if in $format "Jan" }}
    {{ $monthFormat = "short" }}
{{ end }}

{{ $weekdayFormat := "" }}
{{ if in $format "Monday" }}
    {{ $weekdayFormat = "long" }}
{{ else if in $format "Mon" }}
    {{ $weekdayFormat = "short" }}
{{ end }}

{{ $dateFormatted := $date.Format $format }}

{{ return $dateFormatted }}
