<!-- begin header -->
<header class="header">
    <div class="container-big">
        <div class="row">
            <div class="header__inner col col-12">
                <div class="logo">
                    <a class="logo__link" href="/">
                    {{ if .Site.Params.logo }}
                        <img class="logo__image" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"/>
                    {{ else }}
                        {{ .Site.Title }}
                    {{ end }}
                    </a>
                </div>

                <nav class="main-nav">
                    <div class="main-nav__box">
                        <div class="nav__icon-close">
                            <ion-icon name="close"></ion-icon>
                        </div>
                        <div class="nav__title">Menu</div>
                        <ul class="nav__list list-reset">
                            {{ $currentPage := . }}
                            {{ range.Site.Menus.main }}
                                {{ $menuURL := .URL | relURL }}
                                {{ $pageURL:= $currentPage.Permalink | relURL }}
                                {{ $active := eq $menuURL $pageURL }}

                                {{ if .HasChildren }}
                                    <li class="nav__item dropdown">
                                        <span class="nav__link dropdown-toggle">{{ .Name }}<ion-icon name="chevron-down"></ion-icon></span>
                                        <div class="dropdown-menu">
                                            {{ range .Children }}
                                                {{ $childURL := .URL | relURL }}
                                                {{ $active := eq $childURL $pageURL }}
                                                {{ $href := .URL | relURL }}
                                                {{ if findRE `^#` .URL }}
                                                    {{ if not $.IsHome }}
                                                        {{ $href = printf "%s%s" "/" .URL }}
                                                    {{ else }}
                                                        {{ $href = .URL }}
                                                    {{ end }}
                                                {{ end }}
                                                <a href="{{ $href }}"
                                                  class="nav__link {{ if $active }}active-link{{ end }}">{{ .Name }}</a>
                                            {{ end }}
                                        </div>
                                    </li>
                                {{ else }}
                                    <li class="nav__item">
                                        {{ $href := .URL | relURL }}
                                        {{ if findRE `^#` .URL }}
                                            {{ if not $.IsHome }}
                                                {{ $href = printf "%s%s" "/" .URL }}
                                            {{ else }}
                                                {{ $href = .URL }}
                                            {{ end }}
                                        {{ end }}
                                        <a href="{{ $href }}"
                                            class="nav__link {{ if $active }}active-link{{ end }}">{{ .Name }}</a>
                                    </li>
                                {{ end }}

                            {{ end }}

                        </ul>
                    </div>
                </nav>

                <div class="nav-button">
                    <ion-icon class="nav__icon icon__menu" name="menu"></ion-icon>

                    {{ if eq .Site.Params.color_scheme "auto" }}
                        <div class="toggle-theme toggle-theme-js">
                            <div class="toggle-moon" title="Enable dark mode">
                                <ion-icon name="moon"></ion-icon>
                            </div>
                            <div class="toggle-sun" title="Enable light mode">
                                <ion-icon name="sunny"></ion-icon>
                            </div>
                        </div>
                    {{ else if eq .Site.Params.color_scheme "light" }}
                        <div class="toggle-theme theme-light">
                            <div class="toggle-sun" title="Light mode">
                                <ion-icon name="sunny"></ion-icon>
                            </div>
                        </div>
                    {{ else if eq .Site.Params.color_scheme "dark" }}
                        <div class="toggle-theme theme-dark">
                            <div class="toggle-moon" title="Dark mode">
                                <ion-icon name="moon"></ion-icon>
                            </div>
                        </div>
                    {{ else }}
                        <div class="toggle-theme toggle-theme-js">
                            <div class="toggle-moon" title="Enable dark mode">
                                <ion-icon name="moon"></ion-icon>
                            </div>
                            <div class="toggle-sun" title="Enable light mode">
                                <ion-icon name="sunny"></ion-icon>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
