{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
    <!-- begin pagination -->
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <nav class="pagination animate" aria-label="Page navigation">
                    <div class="pagination__list">
                        <!-- Previous page. -->
                        {{ if $paginator.HasPrev }}
                            <a href="{{ .Paginator.Prev.URL }}" class="pagination__link">{{ .Site.Params.strings.pagination.previous | safeHTML }}</a>
                        {{ end }}

                        <!-- Page numbers. -->
                        {{ range $paginator.Pagers }}
                            {{ if eq . $paginator }}
                                <span class="pagination__link active-link">{{ .PageNumber }}</span>
                            {{ else }}
                                <a href="{{ .URL }}" class="pagination__link">{{ .PageNumber }}</a>
                            {{ end }}
                        {{ end }}

                        <!-- Next page. -->
                        {{ if $paginator.HasNext }}
                            <a href="{{ $paginator.Next.URL }}" class="pagination__link">{{ .Site.Params.strings.pagination.next | safeHTML }}</a>
                        {{ end }}

                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- end pagination -->
{{ end }}
