{{ define "main" }}
    <!-- begin page -->
    <div class="container animate">
        <div class="row">
            <div class="col col-12">
                <div class="error">
                    <h2 class="error__title">404</h2>
                    <p class="error__text">La p&aacute;gina solicitada no pudo ser encontrada.</p>
                    <p><a href="/" class="button button--primary" style="border: none">Regresar al Inicio</a></p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <!-- end page -->
{{ end }}
