{{- /*
  Gallery image shortcode - used within gallery shortcode
  Properly resolves page resources for multilingual sites

  Usage:
    {{< gallery-image src="images/photo.webp" alt="Description" >}}
*/ -}}

{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $loading := .Get "loading" | default "lazy" -}}

{{- if $src -}}
  {{- $resource := .Page.Resources.GetMatch $src -}}
  {{- if not $resource -}}
    {{- warnf "Image resource not found: %s in %s" $src .Page.File.Path -}}
  {{- end -}}
  {{ partial "image.html" (dict
      "image" $src
      "page" .Page
      "alt" $alt
      "loading" $loading
      "sizes" "(min-width: 1025px) 780px, (min-width: 769px) 708px, (min-width: 577px) 528px, calc(100vw - 40px)")
  }}
{{- else -}}
  {{- errorf "gallery-image shortcode requires 'src' parameter in %s" .Page.File.Path -}}
{{- end -}}
