{{- if .Site.Config.Services.GoogleAnalytics.ID -}}
{{- $gaID := .Site.Config.Services.GoogleAnalytics.ID -}}
<!-- Load our custom GA initialization script (sets consent defaults before gtag.js loads) -->
{{- $gaInit := resources.Get "js/ga-init.js" -}}
{{- $gaInitProcessed := $gaInit | resources.ExecuteAsTemplate (printf "js/ga-init-%s.js" $gaID) . | minify | fingerprint -}}
<script defer src="{{ $gaInitProcessed.RelPermalink | absURL }}"></script>
<!-- Load Google Tag Manager library -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ $gaID }}"></script>
{{- end -}}
