{{ if .Site.Params.hero.enable }}
    <!-- begin hero -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="hero__inner">
                        <div class="hero__left">
                            <div class="hero__image">
                                {{ partial "image.html" (dict
                                    "image" .Site.Params.hero.hero__image
                                    "alt" (printf "%s's Picture" .Site.Params.author.author__name)
                                    "loading" "eager"
                                    "fetchpriority" "high"
                                    "sizes" "(min-width: 1401px) 634px, (min-width: 1025px) 484px, (min-width: 769px) 708px, (min-width: 577px) 528px, calc(100vw - 40px)")
                                }}
                            </div>
                        </div>
                        <div class="hero__right">
                            <h1 class="hero__title">{{ i18n "sections_hero_title" | safeHTML }} <br />{{ i18n "sections_hero_subtitle" | safeHTML }}</h1>
                            <p class="hero__description">{{ i18n "sections_hero_description" | safeHTML }}</p>
                            {{ if .Site.Params.mailchimp.enable }}
                                <div class="hero__subscribe">
                                    <form class="subscribe-form validate" action="{{ if .Site.Params.mailchimp.mailchimp__identifier }}//{{ .Site.Params.mailchimp.mailchimp__identifier }}{{ else }}#{{ end }}" method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
                                        <label class="screen-reader-text" for="mce-EMAIL">{{ i18n "ui_email" }}</label>
                                        <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="{{ if .Site.Params.mailchimp.mailchimp__input__text }}{{ .Site.Params.mailchimp.mailchimp__input__text }}{{ else }}{{ i18n "ui_emailPlaceholder" }}{{ end }}" />
                                        <button class="button button--primary button--small subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{ i18n "sections_hero_button" | safeHTML }}</button>
                                    </form>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end author -->
{{ end }}
