{{ if .Site.Params.projects.enable }}
    <!-- begin projects -->
    <section class="section projects animate">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="contaniner__inner animate">
                        <div class="section__info">
                            <h2 class="section__title">{{ i18n "sections_projects_title" | safeHTML }}</h2>
                            {{ if .Site.Params.projects.projects__description }}
                            <p class="section__description">{{ i18n "sections_projects_description" | safeHTML }}</p>
                            {{ end }}
                        </div>

                        <div class="row">
                            {{ range (where .Site.RegularPages "Section" "projects" | first 6 ) }}
                                <article class="project col col-4 col-d-6 col-t-12">
                                    <div class="project__content">
                                        <a href="{{ .RelPermalink }}" class="project__image">
                                            {{ partial "image.html" (dict
                                                "image" .Params.image
                                                "page" .
                                                "alt" .Params.Title
                                                "sizes" "(min-width: 1401px) 390px, (min-width: 1025px) 290px, (min-width: 769px) 322px, (min-width: 577px) 528px, calc(100vw - 40px)")
                                            }}
                                            <div class="project__info">
                                                {{ with .Params.categories }}<div class="project__label">{{ index . 0 }}</div>{{ end }}
                                                <h3 class="project__title">{{ .Params.title }}</h3>
                                            </div>
                                        </a>
                                    </div>
                                </article>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section__navigation">
            <a href="{{ relLangURL "/projects/" }}" class="button button--primary section-button">{{ i18n "sections_projects_allProjects" | safeHTML }}</a>
        </div>
    </section>
    <!-- end projects -->
{{ end }}
