<div class="post__share">
    <ul class="share__list list-reset">
        <li class="share__item">
            <a
                class="share__link share__linkedin"
                href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | absLangURL }}&amp;source={{ .Permalink | absLangURL }}&amp;title={{ .Title }}&amp;summary={{ .Title }}"
                title="Compartir en LinkedIn"
                target="_blank"
                rel="nofollow noopener"
                aria-label="Compartir en LinkedIn"
                >{{ partial "icon.html" "logo-linkedin" }}
            </a>
        </li>

        <li class="share__item">
            <a
                class="share__link share__x"
                href="https://x.com/intent/tweet?text={{ .Title }}&url={{ .Permalink | absLangURL }}"
                title="Compartir en X"
                target="_blank"
                rel="nofollow noopener"
                >{{ partial "icon.html" "logo-x" }}
            </a>
        </li>

        <li class="share__item">
            <a
                class="share__link share__facebook"
                href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | absLangURL }}"
                title="Compartir en Facebook"
                target="_blank"
                rel="nofollow noopener"
                >{{ partial "icon.html" "logo-facebook" }}
            </a>
        </li>

        <li class="share__item">
            <a
                class="share__link share__pinterest"
                href="https://pinterest.com/pin/create/button/?url={{ .Permalink | absLangURL }}&amp;media={{ .Params.image | absLangURL }}&amp;description={{ .Title }}"
                title="Compartir en Pinterest"
                target="_blank"
                rel="nofollow noopener"
                aria-label="Compartir en Pinterest"
                >{{ partial "icon.html" "logo-pinterest" }}
            </a>
        </li>

        <li class="share__item">
            <a
                class="share__link share__whatsapp"
                href="whatsapp://send?text={{ .Permalink | absLangURL }}"
                title="Compartir en WhatsApp"
                target="_blank"
                rel="nofollow noopener"
                >{{ partial "icon.html" "logo-whatsapp" }}
            </a>
        </li>
    </ul>
</div>
