/* Editorial Labels */
.label-numbered {
    display: block;
    margin-bottom: 16px;
    font-family: $heading-font-family;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: var(--text-color);
    opacity: 0.6;
}
